{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/table-style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/basictable.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.basictable.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
{% endblock extrahead %}
{% block bodyclass %}
<body class="dashboard-page">
{% endblock bodyclass %}
{% block content %}
<div class="main-grid">
  <div class="banner">
		<h2>
			<a href="/">Home</a>
			<i class="fa fa-angle-right"></i>
			<span><a href="/dispersal">Fish Dispersal</a></span>
      <i class="fa fa-angle-right"></i>
			<span>Change</span>
		</h2>
	</div>
	<br>
  <div class="agile-tables my-div col-md-8 col-md-offset-2" style="">
    <div class="w3l-table-info">
    <table id="table-two-axis" class="two-axis" >
    <form method="post" class="valida" autocomplete="off" novalidate="novalidate" enctype = "multipart/form-data">
      {% csrf_token %}
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>

      <tr>
      <td data-th="name" style="font-weight:bold; font-size:20px; width:250px "><span class="bt-content">Customer Name</span></td>
      <td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue;"><span class="bt-content">{{invoice.customer}}</span></td>

      </tr>

      <tr>
      <td data-th="orders"><span class="bt-content" style="font-weight:bold;font-size:20px">Orders</span></td>
      <td data-th="orders_value"><span class="bt-content">
        <table id="table-two-axis" class="two-axis" style="border: 1px solid black;">
          <thead>
            <tr>
            </tr>
          </thead>
          <tbody>
            {% for payment in invoice.orders.all %}
            <tr>
                <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:15px">{{payment.fish}} </span></td>
                <td data-th="address"><span class="bt-content">
                  <table id="table-two-axis" class="two-axis">
                    <thead>
                      <tr>
                      </tr>
                    <tbody>

                      <tr>
                      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:15px">Amount</span></td>
                      <td data-th="name_value"><span class="bt-content">{{payment.amount}} php</span></td>

                      </tr>
                      <tr>
                      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:15px">quantity</span></td>
                      <td data-th="name_value"><span class="bt-content">{{payment.quantity}}</span></td>

                      </tr>
                      <tr>
                      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:15px">free</span></td>
                      <td data-th="name_value"><span class="bt-content">{{payment.free}}</span></td>

                      </tr>
                      <tr>
                      <td data-th="name_value"><span class="bt-content" style="font-weight:bold; font-size:15px">Nature</span></td>
                      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:15px">{{payment.nature}}</span></td>
                      </tr>
                    </tbody>
                  </table>
                </span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </span>
      </td>
      </tr>

      <tr>
      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:20px">Date Acquired</span></td>
      <td data-th="address"><span class="bt-content">{{invoice.date_acquired}}</span></td>
      </tr>
      <tr>
      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:20px">Remarks</span></td>
      <td data-th="address"><span class="bt-content">
        <div class="form-group valid-form">
            <textarea type="number" name="remarks" maxlength="75" class="form-control" >{{invoice.remarks}}</textarea>
        </div>
      </span></td>
      </tr>

      <tr>
      <td data-th="name"><span class="bt-content">

      </span></td>
      <td data-th="address"><span class="bt-content">
        <input type="submit" name="sub-1" value="Submit" class="btn btn-primary">
        <input type="reset" name="res-1" id="res-1" value="Reset" class="btn btn-danger">
      </span></td>

      </tr>

    </tbody>
    </form>
    </table>
    </div>
  <!-- //tables -->
  </div>
</div>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/proton.js" %}"></script>
{% endblock content %}
