{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/table-style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/basictable.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.basictable.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
{% endblock extrahead %}
{% block bodyclass %}
<body class="dashboard-page">
{% endblock bodyclass %}
{% block content %}
		<div class="main-grid">
				<!-- validation -->
        <div class="banner">
      		<h2>
      			<a href="/">Home</a>
      			<i class="fa fa-angle-right"></i>
      			<span><a href="/inventory">Inventory</a></span>
            <i class="fa fa-angle-right"></i>
      			<span>Change</span>
      		</h2>
      	</div>
      	<br>
				<div class="agile-tables my-div col-md-8 col-md-offset-2" style="">
					<div class="w3l-table-info">
						<table id="table-two-axis" class="two-axis" >
						<form method="post" action="#" class="valida" autocomplete="off" novalidate="novalidate" enctype = "multipart/form-data">
							{% csrf_token %}
					    <thead>
					      <tr>
					      </tr>
					    </thead>
					    <tbody>
								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Item name</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.name}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Description</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.description}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Quantity/unit</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.quantity}} {{item.unit}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Date Acquired</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.date_acquired}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Amount</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.amount}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Issued by</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.issued_by}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Recieved by</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{item.received_by}}</span></td>
								</tr>

								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Remarks</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; ">
										<span class="bt-content">
											<div class="form-group  has-feedback">
												<textarea name="remarks" id="field-9" maxlength="50" class="form-control">{{ item.remarks}}</textarea>
											</div>
										</span>
									</td>
								</tr>
								<tr>
									<td data-th="name" style="font-weight:bold; font-size:20px; width:280px ">
										<span class="bt-content">
											Image
										</span></td>
									<td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; ">
										<span class="bt-content">
											<div class="form-group">
												{% if item.photo %}
		                    <div style="padding:10px">
		                      <img src="/media/{{item.photo}}" alt="none" height="242" width="290"></img>
		                    </div>
		                    {% endif %}
												<input type="file" name="photo" id="field-10" class="form-control" value="{{item.photo}}">
											</div>
										</span>
									</td>
								</tr>
								<tr>
										<td data-th="name"><span class="bt-content">Remarks</span></td>
										<td data-th="name" style="font-weight:bold; font-size:20px; width:280px ">
											<span class="bt-content">
												<input type="submit" name="sub-1" value="Submit" class="btn btn-primary">
												<input type="reset" name="res-1" id="res-1" value="Reset" class="btn btn-danger">
											</span>
										</td>
								</tr>
						</tbody>
						</form>
						</table>
					</div>
				</div>
				<!-- //validation -->
			</div>
	<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/proton.js' %}"></script>
{% endblock content%}
