{% extends 'base.html' %}
{% load static %}
{% block title %}Production Change{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static "css/table-style.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/basictable.css" %}"/>
<script type="text/javascript" src="{% static "js/jquery.basictable.min.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('#table').basictable();

      $('#table-breakpoint').basictable({
        breakpoint: 768
      });

      $('#table-swap-axis').basictable({
        swapAxis: true
      });

      $('#table-force-off').basictable({
        forceResponsive: false
      });

      $('#table-no-resize').basictable({
        noResize: true
      });

      $('#table-two-axis').basictable();

      $('#table-max-height').basictable({
        tableWrapper: true
      });
    });
</script>
{% endblock extrahead %}
{% block bodyclass %}
<body class="dashboard-page">
{% endblock bodyclass %}
{% block content %}
<div class="main-grid">
  <div class="banner">
    <h2>
      <a href="/">Home</a>
      <i class="fa fa-angle-right"></i>
      <span><a href="/production">Fish Production</a></span>
      <i class="fa fa-angle-right"></i>
      <span>Change</span>
    </h2>
  </div>
  <br>
  <div class="agile-tables my-div col-md-8 col-md-offset-2" style="">
    <div class="w3l-table-info">
    <table id="table-two-axis" class="two-axis" >
    <form method="post" class="valida" autocomplete="off" novalidate="novalidate" enctype = "multipart/form-data">
      {% csrf_token %}
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>

      <tr>
      <td data-th="name" style="font-weight:bold; font-size:20px; width:280px "><span class="bt-content">Fish</span></td>
      <td data-th="name_value" style="font-weight:bold; font-size:20px; color:blue; "><span class="bt-content">{{harvest.fish}}</span></td>

      </tr>

      <tr>
      <td data-th="orders"><span class="bt-content" style="font-weight:bold;font-size:20px">Quantity</span></td>
      <td data-th="orders_value"><span class="bt-content">{{harvest.quantity}}</span></td>
      </tr>

      <tr>
      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:20px">Employee attended</span></td>
      <td data-th="address"><span class="bt-content">{{harvest.employee_attended}}</span></td>
      </tr>
      <tr>
      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:20px">Date Listed</span></td>
      <td data-th="address"><span class="bt-content">{{harvest.date_listed}}</span></td>
      </tr>
      <tr>
      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:20px">Area Harvested</span></td>
      <td data-th="address"><span class="bt-content">{{harvest.area_harvested}}</span></td>
      </tr>
      <tr>
      <td data-th="name"><span class="bt-content" style="font-weight:bold; font-size:20px">Remarks</span></td>
      <td data-th="address"><span class="bt-content">
        <div class="form-group valid-form">
            <textarea type="number" name="remarks" maxlength="75" class="form-control" >{{harvest.remarks}}</textarea>
        </div>
      </span></td>
      </tr>

      <tr>
      <td data-th="name"><span class="bt-content">

      </span></td>
      <td data-th="address"><span class="bt-content">
        <input type="submit" name="sub-1" value="Submit" class="btn btn-primary">
        <input type="reset" name="res-1" id="res-1" value="Reset" class="btn btn-danger">
      </span></td>

      </tr>

    </tbody>
    </form>
    </table>
    </div>
  <!-- //tables -->
  </div>
</div>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/proton.js" %}"></script>
{% endblock content %}
