{% extends 'base.html' %}
{% load static %}
{% block extrahead %}

<script src="{% static "js/raphael-min.js" %}"></script>
<script src="{% static "js/morris.js" %}"></script>
<link rel="stylesheet" href="{% static "css/morris.css" %}">
<!-- //charts -->
<style>
svg {

	padding-left: 15px;

}
</style>
{% endblock extrahead %}
{% block bodyclass %}
<body class="dashboard-page ">
{% endblock bodyclass %}
{% block content %}

	<div class="main-grid hidden">
		<div class="banner">
	    <h2>
	      <a href="/">Home</a>
	      <i class="fa fa-angle-right"></i>
	      <span><a href="/production">Fish Production</a></span>
	      <i class="fa fa-angle-right"></i>
	      <span>Single DataSet Chart</span>
	    </h2>
	  </div>
	  <br>
		<div class="clearfix"></div>
		<div class="agile-grids">
			<div class="col-md-12 count">
			<div class="count-grid">
			<div class="table-heading">
				<h2  style="color:black">Production Charts</h2>
			</div>
			<div class="sort">
				<form method="post" action="#" class="valida" autocomplete="off" novalidate="novalidate">
        {% csrf_token %}
        <input type="hidden" name="page"  class="form-control" value="{{harvests.number}}">
				<div class="form-group col-md-1 col-xs-6">
					<label for="field-1">Year</label>
					<input type="text" name="year"  class="form-control" maxlength="4">
				</div>
				<div class="form-group col-md-3 col-xs-6">
					<label for="field-2">Fish</label>
					<select name="fish"  class="form-control" id="field-2" multiple>
						<option value=""></option>
						{% for fish in fishes %}
							<option value="{{fish}}">{{fish}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group col-md-2 col-xs-4">
					<label> Scale(steps of graph) </label>
					<input type="number" name="scale"  class="form-control" >
				</div>

				<div class="form-group col-md-2 col-xs-12">

					<label> </label>
					<div class="form-group col-md-6 col-xs-4">
						<label for="field-4"></label>
						<input type="submit" name="sub-1" value="Submit" class="btn btn-primary">
					</div>
					<div class="form-group col-md-6 col-xs-4">
						<label> </label>
						<input type="reset" name="res-1" id="res-1" value="Reset" class="btn btn-danger">
					</div>

					</select>
				</div>
			</form>
			</div>
			<div class="clearfix" ></div>
			<div class="w3l-chart" style="padding-left:-1000px;">
				<h3>.</h3>
				{{ sample}}
				<div id="graph" ></div>
				<br>
				<div class="clearfix"></div>
				<div class="form-group ">
					<label> </label>
					<form method="post" action="#" class="valida" autocomplete="off" novalidate="novalidate">
	        {% csrf_token %}
					{% if points %}
					<input type="submit" name="export" id="res-1" value="Export to CSV" class="btn btn-primary">
					{% endif %}
					</form>
				</div>
			</div>
			<!-- //tables -->


		</div>
		</div>
	</div>
	<div class="pagination">
		<span class="step-links">
				{% if harvests.has_previous %}
						<a href="?page={{ harvests.previous_page_number }}">previous</a>
				{% endif %}

				<span class="current">
						Page {{ harvests.number }} of {{ harvests.paginator.num_pages }}.
				</span>

				{% if harvests.has_next %}
						<a href="?page={{ harvests.next_page_number }}">next</a>
				{% endif %}
		</span>
	</div>
	</div>
	<script>
	$("[name='start_date']").datepicker().datepicker("setDate", new Date());
	$("[name='end_date']").datepicker().datepicker("setDate", new Date());
	</script>
	<script>
	$('svg').attr('name', 'margin-left: 30px;');
	 $(document).ready(function() {
		 $('svg').attr('name', 'margin-left: 30px;');
	 });
	  $(document).ready(function() {

	    var url = new URL(window.location.href);
			console.log(url)
	    var c = url.searchParams.get('fish');
	    $('[name=fish]').val( c );
	    var c = url.searchParams.get('order');
	    $('[name=order]').val( c );
			var c = url.searchParams.get('year');
 		 	$('[name=year]').val( c );
			var values = url.searchParams.get('fish');
			if (values != null){
			$.each(values.split(","), function(i,e){

			    $("option[value='" + e + "']").prop("selected", true);
			});
			}
	  });
	</script>
	<script>
		$(function(){
			$('#graph').graphify({
				//options: true,
				start: 'combo',
				obj: {
					id: 'ggg',
					width: 1150,
					height: 375,
					xGrid: false,
					legend: true,
					//points:[{{for}}]
					points: {{ points}},
					x:[{% for x in xaxis %}
						"{{x}}",
						{% endfor %}],
					pointRadius: 3,
					// colors:[{{for}}]
					colors: ['blue', 'red', 'green', 'magenta', 'orange', 'yellow'],
					xDist: 70,
					dataNames: [
						{% for fish in fishes_list %}
						"{{fish}}",
						{% endfor %}
					],
					xName: 'Day',
					tooltipWidth: 15,
					//{{scale}}
					scale: {{scale}},
					xDist: 90,
					animations: true,
					pointAnimation: true,
					averagePointRadius: 10,
					design: {
						tooltipColor: '#fff',
						gridColor: 'grey',
						tooltipBoxColor: 'green',
						averageLineColor: 'green',
						pointColor: 'green',
						lineStrokeColor: 'grey',
					}
				}
			});
		});
	</script>
<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/proton.js" %}"></script>
<script src="{% static "js/graph.js" %}"></script>
{% endblock content %}
