{% extends 'base.html' %}
{% load static %}
{% block title %}HOME{% endblock title %}
{% block extrahead %}
<link href="{% static "css/style_grid.css" %}" rel="stylesheet" type="text/css" media="all" />
<!-- charts -->
<script src="{% static "js/raphael-min.js" %}"></script>
<script src="{% static "js/morris.js" %}"></script>
<link rel="stylesheet" href="{% static "css/morris.css" %}">
<link href="{% static "css/jquery-ui.css" %}" rel="stylesheet" />
<script src="{% static "js/jquery_.min.js" %}"></script>
<script src="{% static "js/jquery-ui.js" %}"></script>
<!-- charts -->
<!-- //charts -->
<style>
svg {
	padding-left: 15px;
}
</style>
{% endblock extrahead %}
{% block bodyclass %}
<body class="dashboard-page">
{% endblock bodyclass %}
{% block content %}

	<div class="main-grid">

		<div class="social grid">
			<div class="clearfix"></div>
			<!-- //w3_agileits_top_nav-->
			<!-- /inner_content-->
					<div class="inner_content">
							<!-- /inner_content_w3_agile_info-->
						<div class="inner_content_w3_agile_info">
						<!-- /agile_top_w3_grids-->
							 <div class="agile_top_w3_grids">
											<ul class="ca-menu" style="padding-left: 70px">
										<li>
											<a href="/attendance?page=1">

												<i class="fa fa-user" aria-hidden="true"></i>
												<div class="ca-content">
													<h4 class="ca-main">Attendance </h4>
													<h3 class="ca-sub">View My Attendance</h3>
												</div>
											</a>
										</li>
										<li>
											<a href="/inventory">
												<i class="fa fa-book" aria-hidden="true"></i>
												<div class="ca-content">
													<h4 class="ca-main one">Inventory</h4>
													<h3 class="ca-sub one">View or add Inventory</h3>
												</div>
											</a>
										</li>
										<li>
											<a href="/dispersal">
												<i class="fa fa-money" aria-hidden="true"></i>
												<div class="ca-content">
												<h4 class="ca-main two">Fish Dispersal</h4>
													<h3 class="ca-sub two">View or Enter orders</h3>
												</div>
											</a>
										</li>
										<li>
											<a href="/production">
												<i class="fa fa-tasks" aria-hidden="true"></i>
												<div class="ca-content">
													<h4 class="ca-main three">Fish Production</h4>
													<h3 class="ca-sub three">View or Add Fish Harvest</h3>
												</div>
											</a>
										</li>

										<div class="clearfix"></div>
									</ul>
							 </div>
						 <!-- //agile_top_w3_grids-->
					 </div>
				 </div>
		</div>


		<div class="agile-bottom-grids">
			<div class="col-md-8 agile-bottom-right">
				<div class="agile-bottom-grid">
					<!-- instert-->
					<div id="openweathermap-widget-11" ></div>
				</div>
			</div>
			<div class="col-md-4 agile-bottom-left">
				<div class="agile-bottom-grid">
					<div class="area-grids-heading">
						<h3>Calendar</h3>
					</div>
				<!-- instert-->
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>

		<div class="agile-two-grids">
			<div class="col-md-6 count">
				<div class="count-grid w3l-chart">
					<h3 class="title">Latest Production</h3>
					<div id="graph2"></div>
				</div>
				<!-- instert-->
			</div>
			<div class="col-md-6 count w3l-chart">
				<div class="count-grid">
					<h3 class="title">Latest Dispersal</h3>
					<div id="graph3"></div>
				</div>
				<!-- instert-->
			</div>

			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- footer -->

	<!-- //footer -->
	<script>
	$('svg').attr('name', 'margin-left: 30px;');
	 $(document).ready(function() {
		 $('svg').attr('name', 'margin-left: 30px;');
	 });
		$(document).ready(function() {

			var url = new URL(window.location.href);
			var c = url.searchParams.get('fish');
			$('[name=fish]').val( c );
			var c = url.searchParams.get('order');
			$('[name=order]').val( c );
			$('[name=start_date]').val( format(c) );
			var c = url.searchParams.get('end_date');
			var c = url.searchParams.get('start_date');
			$('[name=end_date]').val( format(c) );
			function format(inputDate) {
			 var date = new Date(inputDate);
			 if (inputDate == null){
				 date = new Date();
				 return
			 }
			 if (!isNaN(date.getTime())) {
					 // Months use 0 index.
					 return date.getMonth() + 1 + '/' + date.getDate() + '/' + date.getFullYear();
			 }
		 }
		});
	</script>
	<script>
		$(function(){

			$('#graph2').graphify({
				start: 'area',
				obj: {
					id: 'lo',
					legend: false,
					showPoints: true,
					width: 975,
					legendX: 450,
					pieSize: 200,
					shadow: true,
					height: 400,
					animations: true,
					x: [{% for harvest in harvests%}
								"{{harvest.date_listed}}",
							{% endfor %}
						],
					points: [{% for harvest in harvests%}
								{{harvest.quantity}},
							{% endfor %}
						],
					xDist: 120,
					scale: {{average_harvest}},
					yDist: 35,
					grid: false,
					xName: 'Year',
					dataNames: ['Amount'],
					design: {
						lineColor: 'red',
						tooltipFontSize: '20px',
						pointColor: 'red',
						barColor: 'blue',
						areaColor: 'orange'
					}
				}
			});
			$('#graph3').graphify({
				start: 'area',
				obj: {
					id: 'lol',
					legend: false,
					showPoints: true,
					width: 775,
					legendX: 450,
					pieSize: 200,
					shadow: true,
					height: 400,
					animations: true,
					x: [{% for invoice in invoices%}
								"{{invoice.date_acquired}}",
							{% endfor %}
						],
					points: [{% for invoice in invoices%}
										{% for order in invoice.orders.all %}

										{% endfor %},
							{% endfor %}
						],
					xDist: 90,
					scale: 160,
					yDist: 35,
					grid: false,
					xName: 'Year',
					dataNames: ['Amount'],
					design: {
						lineColor: 'red',
						tooltipFontSize: '20px',
						pointColor: 'red',
						barColor: 'blue',
						areaColor: 'orange'
					}
				}
			});

		});
	</script>
	<script src="{% static "js/bootstrap.js" %}"></script>
	<script src="{% static "js/proton.js" %}"></script>
	<script src="{% static "js/graph.js" %}"></script>

<script src='https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '1683319',appid: '9a097bc5403e7ab3dfeaefcf7081130f',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "https://openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator-2.0.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
{% endblock content %}
